# Retail Order Data Analyst Project

In [3]:
#install Kaggle
!pip install -q Kaggle

## Step 1: Fetch Data from Kaggle by Using Kaggle API

In [4]:
#import kaggle library
import kaggle

#downnload the dadaset from kaggle api
! kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
#unzip the dataset file
! unzip orders.csv.zip

Archive:  orders.csv.zip
  inflating: orders.csv

In [1]:
#Read the dataset file
import pandas as pd
df= pd.read_csv("orders.csv")

In [2]:
# top 5 values
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [3]:
# No of Rows and columns
df.shape

(9994, 16)

In [4]:
#information about columns data types, not null values etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [5]:
#Quick analysis
df.describe()

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [6]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

## Step 2: Data Cleaning and Transformation Using Pandas

In [7]:
#handle the null/missing values
df1=pd.read_csv("orders.csv",na_values=['Not Available','unknown'])

In [8]:
# Rename column names....convert them into lower case and replace space (' ') with underscore ('_')
#manual way
#df.rename(columns={'Order Id':'order_id'})

#Better way
df1.columns= df1.columns.str.lower()
df1.columns= df1.columns.str.replace(' ','_')

In [9]:
# Now we are adding new column called Discount (Which tell us the actual discount in cost given to customer)
df1['discount']=df1['list_price']*df1['discount_percent']*0.01

In [10]:
# Now we are adding new column called Sale Price
df1['sale_price']=df1['list_price']-df1['discount']

In [11]:
# Now we are adding new column called profit
df1['profit']=df1['sale_price']-df1['cost_price']

In [12]:
# convert column order_date datatype object to datetime (because when we pass in sql it will pass as string not date)
df1['order_date']=pd.to_datetime(df1['order_date'],format='%Y-%m-%d')

In [13]:
#drop columns cost_price, list_price and discount_percentage
#Method 1
#df1.drop(['list_price','cost_price','discount_percent'], axis=1)

#Method 2: better readability
df1=df1.drop(columns=['list_price','cost_price','discount_percent'])

## Step 3: Establishing Database Connection and Importing Data for Analysis

In [14]:
pip install -q sqlalchemy

Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install -q pymysql

Note: you may need to restart the kernel to use updated packages.

In [2]:
#load the data into sql server (MySql Workbench)
import sqlalchemy as sal

#Syntax to connect MySQL Database

engine = sqlalchemy.create_engine('dialect+driver://username:password@host:port/database')

"""Explanation of Each Component:
dialect: Specifies the type of database you are connecting to. In this case, it is mysql.

+driver: Specifies the database driver to use. For MySQL, common drivers are pymysql, mysqlclient, or mysql-connector.

username: The username used to connect to the database (root in the example).

password: The password for the database user (qwerty in the example).

host: The hostname or IP address of the database server (127.0.0.1 in the example, which is localhost).

port: The port number the database server is listening on (3306 is the default port for MySQL)."""

database: The name of the specific database you want to connect to (orders in this case).
conn = engine.connect()
print("Connection successful!")

Connection successful!

In [25]:
df1.to_sql('orders',con=conn,index=False,if_exists='replace')

9994

In [26]:
# So, to tackle the issue of datatype. we first create table structure in databse using sql and append the table from here
df1.to_sql('orders',con=conn,index=False,if_exists='append')

9994